<app-header></app-header>
<section class="w3l-inner-banner-main">
  <div class="about-inner">
    <div class="wrapper">
      <ul class="breadcrumbs-custom-path">
        <h3>About Us</h3>
      </ul>
    </div>
  </div>
</section>
<!-- //covers -->

<!-- contentwithphoto 20 -->
<section class="w3l-content-with-photo-20">
  <div class="contentwithphoto-20">
    <div class="wrapper">
      <div class="contentwithphoto-20-content d-grid grid-col-2">
        <div class="column bg-img">
          <img
            src="assets/images/champion.jpg"
            class="img-responsive"
            alt=""
            style="width:600px;"
          />
        </div>
        <div class="column right-text">
          <h4>All in One Austasia The Unique Place to be!</h4>
          <p>
            In May 2001 Austasia indoor cricket stadium was inaugurated with two
            courts. During a period of 13 months this was extended to a fully
            fledged sports & leisure complex encompassing a number of other
            sporting & recreational activities. At present Austasia
            International sports complex has over 7500 who are enjoying various
            facilities that are offered by Austasia. It has grown from an indoor
            cricket stadium to a life style builder for the members & Others,
            especially for the youth in the country and now to the Asian region
            as many visit the country to train and play in different tournaments
            in different sports from c ountries like India, Nepal, Pakistan,
            UAE, Australia, New Zealand, England and South Africa. The complex
            has introduced many new sports and some change the version of sports
            as per the world trend to suit the requirement of the youth and the
            society.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //contentwithphoto 20 -->
<!-- w3l-covers-14 -->
<section class="w3l-covers-14">
  <div id="covers14-block">
    <div class="wrapper">
      <div class="covers14-text">
        <h4>Austasia International Sports & Leisure Complex</h4>
        <h5>Mrs. Lalitha Anthony(Managing Director) : +94(0)772308861</h5>
      </div>
    </div>
  </div>
</section>
<!-- w3l-covers-14 -->

<!--teams_31-->
<section class="w3l-teams-31">
  <div class="teams_31_sur">
    <div class="wrapper">
      <h3>Our Awesome Coaches</h3>
      <p>
        We are proud to state that our coaches on training sports are best<br/>
		ranking coaches in the country with many national & international 
		exposure <br/>who can handle beginner to professional any age group.
      </p>
      <div class="teams_31-top_sur">
        <div class="teams_31-left_sur">
          <a href="team-single.html"
            ><img src="assets/images/te1.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">Steve Waugh</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="teams_31-left1_sur">
          <a href="team-single.html"
            ><img src="assets/images/te2.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">David Warner</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="teams_31-left2_sur">
          <a href="team-single.html"
            ><img src="assets/images/te3.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">Lia Castro</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="teams_31-left3_sur">
          <a href="team-single.html"
            ><img src="assets/images/te4.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">Mathew Wade</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="teams_31-left4_sur">
          <a href="team-single.html"
            ><img src="assets/images/te5.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">Brendon Mcullam</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="teams_31-left5_sur">
          <a href="team-single.html"
            ><img src="assets/images/te6.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">Nathan Mcullam</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="teams_31-left6_sur">
          <a href="team-single.html"
            ><img src="assets/images/te7.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">Shane Watson</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="teams_31-left_sur">
          <a href="team-single.html"
            ><img src="assets/images/te8.jpg" class="img-responsive" alt=""
          /></a>
          <h6><a href="team-single.html">Steve Smith</a></h6>
          <span>Senior Player</span>
          <ul class="top-soci">
            <li>
              <a class="href" href="#"
                ><span class="fa fa-facebook fac"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-twitter twi"></span
              ></a>
            </li>
            <li>
              <a class="href" href="#"
                ><span class="fa fa-instagram ins"></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//teams_31-->
<app-footer></app-footer>
