<app-header></app-header>
<!-- inner banner -->
<section class="w3l-inner-banner-main">
    <div class="about-inner">
        <div class="wrapper">
            
            <ul class="breadcrumbs-custom-path">
                <h3>Portfolio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->
<section class="w3l-galleries-27">
    <div class="gallery-main">
        <div class="wrapper">
            
            <div class="d-grid">
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/g1.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/g2.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/g3.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/g3.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/e1.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/e2.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/e3.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/e4.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="column">
                        <a href="portfolio-single.html"> <img src="assets/images/e5.jpg" alt="gallery" class="img-responsive"></a>
                        <h4><a href="portfolio-single.html">Sed do eiusmod</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
