<app-header></app-header>
<!-- inner banner -->
<section class="w3l-inner-banner-main">
    <div class="about-inner">
        <div class="wrapper">
            
            <ul class="breadcrumbs-custom-path">
                <h3>Ecommerce Single</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->

 <!-- w3l-features-photo-7 -->
 <section class="w3l-features-photo-7">
	<div class="w3l-features-photo-7_sur">
		<div class="wrapper">
			<div class="w3l-features-photo-7_top">
					<div class="w3l-features-photo-7_top-right">
							<div class="galleryContainer"> 
								<div class="gallery">
									<input type="radio" name="controls" id="c1" checked><img class="galleryImage" id="i1" src="assets/images/p6.jpg" class="img-responsive" alt="">
									<input type="radio" name="controls" id="c2"><img class="galleryImage" id="i2" src="assets/images/ps2.jpg" class="img-responsive" alt="">
									<input type="radio" name="controls" id="c3"><img class="galleryImage" id="i3" src="assets/images/ps3.jpg" class="img-responsive" alt="">
									<input type="radio" name="controls" id="c4"><img class="galleryImage" id="i4" src="assets/images/ps4.jpg" class="img-responsive" alt="">
								</div>
								<div class="thumbnails">
									<label class="thumbnailImage" for="c1"><img src="assets/images/p6.jpg" class="img-responsive" alt=""></label>
									<label class="thumbnailImage" for="c2"><img src="assets/images/ps2.jpg" class="img-responsive" alt=""></label>
									<label class="thumbnailImage" for="c3"><img src="assets/images/ps3.jpg" class="img-responsive" alt=""></label>
									<label class="thumbnailImage" for="c4"><img src="assets/images/ps4.jpg" class="img-responsive" alt=""></label>
								</div>
						</div>
					</div>
				<div class="w3l-features-photo-7_top-left">
					<h3>Running Shoes For Men</h3>
					<h5>$705.00 <label class="tp-1">$850.00</label></h5>
					<div class="color-quality-right">
						
						<ul class="siz">
							<li>Size :</li>	
							<li><a href="#">6</a></li>
							<li><a href="#">7</a></li>
							<li><a href="#">8</a></li>
							<li><a href="#">9</a></li>
							<li><a href="#">10</a></li>
						</ul>
					 </div>
					 <div class="buttons">
						<a href="#action" class="actionbg">Add o Cart</a>
						<a href="#action" class="actionbg1">Buy Now</a>
					</div>
					<li><span>Special Price</span> Get extra 5% off (price inclusive of discount)</li>
					<li><span>Bank Offer</span> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card</li>
					<li><span>Bank Offer</span> 5% Cashback* on HDFC Bank Debit Cards</li>
					<li><span>Bank Offer</span> Extra 5% off* with Axis Bank Buzz Credit Card</li>
					<h4>Product Details:-</h4>
					<p>Functionality is similarly unimportant, but in this case, the aesthetics are closer to the final product. Each designer's computer prototype is tested on a single user.</p>	
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //w3l-features-photo-7 -->


<!-- products -->
<section class="w3l-products-17">
	<div class="products17">
		<div class="wrapper">
			<h3>Frequently Bought Together</h3>
			<div class="products17-content">
				<div class="column pro">
					<a href="ecommerce.html"><img src="assets/images/p2.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce.html">Sport Shoe</a></h4>
					<p>$45.00</p>
					
				</div>
				
				<div class="column pro">
					<a href="ecommerce.html"><img src="assets/images/p4.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce.html">Sport Shoe</a></h4>
					<p>$24.00</p>
					
				</div>
				<div class="column pro">
					<a href="ecommerce.html"><img src="assets/images/p5.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce.html">Sport Shoe</a></h4>
					<p>$19.00</p>
					
				</div>
			
					<div class="column pro">
						<a href="ecommerce.html"><img src="assets/images/p4.jpg" class="img-responsive" alt="" /></a>
						<h4><a href="ecommerce.html">Sport Shoe</a></h4>
						<p>$19.00</p>
						
					</div>
			</div>
		</div>
	</div>
</section>
<!-- //products17 -->
<app-footer></app-footer>
