<app-header></app-header>
<!-- inner banner -->
<section class="w3l-inner-banner-main">
    <div class="aboutshop-inner">
        <div class="wrapper">
            
            <ul class="breadcrumbs-custom-path">
                <h3>Sports shop</h3>
                <p>All the essential sport equipments are available</p>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->

<!-- products -->
<section class="w3l-products-1">
	<div class="products1">
		<div class="wrapper">
			<div class="products1-content">
				<div class="column">
					<a href="/shopmore"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="/shopmore">Sport Shoe</a></h4>
					<div class="procolm">
						<p>$25.00</p>
						<del>$35.00</del>
					</div>
					
						<a href="/shopmore" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
					<div class="procolm">
							<p>$25.00</p>
							<del>$35.00</del>
						</div>
				
						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
					<div class="procolm">
							<p>$25.00</p>
							<del>$35.00</del>
						</div>
					
						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
					<div class="procolm">
							<p>$25.00</p>
							<del>$35.00</del>
						</div>
					
						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
					<div class="procolm">
							<p>$25.00</p>
							<del>$35.00</del>
						</div>
					
						<a href="#" class="btn ecom_bt">Add To Cart</a>
				</div>
				<div class="column">
						<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
						<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
						<div class="procolm">
								<p>$25.00</p>
								<del>$35.00</del>
							</div>
						
							<a href="#" class="btn ecom_bt">Add To Cart</a>
					</div>
					<div class="column">
							<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
							<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
							<div class="procolm">
									<p>$25.00</p>
									<del>$35.00</del>
								</div>
						
								<a href="#" class="btn ecom_bt">Add To Cart</a>
						</div>
						<div class="column">
								<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
								<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
								<div class="procolm">
										<p>$25.00</p>
										<del>$35.00</del>
									</div>
								
									<a href="#" class="btn ecom_bt">Add To Cart</a>
							</div>
							<div class="column">
									<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
									<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
									<div class="procolm">
											<p>$25.00</p>
											<del>$35.00</del>
										</div>
									
										<a href="#" class="btn ecom_bt">Add To Cart</a>
								</div>
								<div class="column">
										<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
										<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
										<div class="procolm">
												<p>$25.00</p>
												<del>$35.00</del>
											</div>
										
											<a href="#" class="btn ecom_bt">Add To Cart</a>
									</div>
									<div class="column">
											<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
											<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
											<div class="procolm">
													<p>$25.00</p>
													<del>$35.00</del>
												</div>
										
												<a href="#" class="btn ecom_bt">Add To Cart</a>
										</div>
										<div class="column">
												<a href="ecommerce-single.html"><img src="assets/images/p6.jpg" class="img-responsive" alt="" /></a>
												<h4><a href="ecommerce-single.html">Sport Shoe</a></h4>
												<div class="procolm">
														<p>$25.00</p>
														<del>$35.00</del>
													</div>
												
												<a href="#" class="btn ecom_bt">Add To Cart</a>
											</div>
			</div>
		</div>
	</div>
</section>
<!-- //products1 -->
<app-footer></app-footer>
