<app-header></app-header>
<!-- Headers-4 block -->
<!-- Heroheader14 block -->
<section class="w3l-hero-headers-14">
  <div class="hh14-block">
    <section id="hh14-content">
      <div class="wrapper">
        <div>
          <!-- main-slider -->
          <div class="main-slider">
            <div class="csslider infinity" id="slider1">
              <input
                type="radio"
                name="slides"
                checked="checked"
                id="slides_1"
              />
              <input type="radio" name="slides" id="slides_2" />
              <input type="radio" name="slides" id="slides_3" />
              <input type="radio" name="slides" id="slides_4" />
              <input type="radio" name="slides" id="slides_5" />
              <ul>
                <li>
                  <div class="slider-info">
                    <div class="d-grid hh14-text">
                      <div class="hh14-info">
                        <h6>BEST PLACE TO PLAY</h6>
                        <h3>All in One Austasia  The Unique Place to be!</h3>
                        <p>
                          All the sports facilities are international standard and available for all the sports bodies
                        </p>
                        <a href="single.html" class="actionbg btn">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="slider-info">
                    <div class="d-grid hh14-text">
                      <div class="hh14-info">
                        <h6>BEST PLACE TO PLAY</h6>
                        <h3>All in one Membership</h3>
                        <p>
                          The Club which offers Sports and leisure, Holiday,<br/>
                          F & B, Banquets, Academies & Education all in One <br/>
                          Membership
                        </p>
                        <a href="single.html" class="actionbg btn">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="slider-info">
                    <div class="d-grid hh14-text">
                      <div class="hh14-info">
                        <h6>BEST PLACE TO PLAY</h6>
                        <h3>“Doing Your Best With The Best Is Important Be the Best”</h3>
                        <p>
                          Most of the games take less than one and half hours, <br/>
                          Most of the games available builds team spirit & fosters <br/>
                          team work
                        </p>
                        <a href="single.html" class="actionbg btn">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="slider-info">
                    <div class="d-grid hh14-text">
                      <div class="hh14-info">
                        <h6>BEST PLACE TO PLAY</h6>
                        <h3>24Hrs Day & Night Bookings Available at Austasia
                          1st & Only in Sri Lanka</h3>
                        <p>
                          We under take bookings of the facilities 24hours of the day 365days of the year under any weather condition.on,
                        </p>
                        <a href="single.html" class="actionbg btn">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="slider-info">
                    <div class="d-grid hh14-text">
                      <div class="hh14-info">
                        <h6>BEST PLACE TO PLAY</h6>
                        <h3>we’re sure we are the best club!</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim.
                        </p>
                        <a href="single.html" class="actionbg btn">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <div class="navigation">
                <div>
                  <label for="slides_1"></label>
                  <label for="slides_2"></label>
                  <label for="slides_3"></label>
                  <label for="slides_4"></label>
                  <label for="slides_5"></label>
                </div>
              </div>
            </div>
          </div>
          <!-- /main-slider -->
        </div>
      </div>
    </section>
  </div>
</section>
<!-- Heroheader14 block -->
<!-- w3l-features-4 -->
<section class="w3l-features-4">
  <div id="features4-block">
    <div class="wrapper">
      <div class="features4-grids text-center">
        <div class="features4-grid fea_gd1">
          <img src="assets/images/Zumba.jpg" class="img-responsive" alt="" />
          <h5><a href="services.html">Movement</a></h5>
          <p>
            Time to break off from challenging and stressful duties and to rejuvenate the body, mind and spirit to face the responsibilities again, with proper frame of mind. 
          </p>
        </div>
        <div class="features4-grid fea_gd2">
          <img src="assets/images/party.jpg" class="img-responsive" alt="" />
          <h5><a href="services.html">Time</a></h5>
          <p>
            Pool-EatzIs the place to celebrate with your colleagues/family in a cozy, sporty ambience with a friendly & supportive staff giving you the best service & value for money
          </p>
        </div>
        <div class="features4-grid fea_gd3">
          <img src="assets/images/Soccer.jpg" class="img-responsive" alt="" />
          <h5><a href="services.html">Practice</a></h5>
          <p>
            Best ranking coaches in the country with many national & international exposure who can handle beginner to professional any age group.
          </p>
        </div>
        <div class="features4-grid fea_gd4">
          <img src="assets/images/champion.jpg" class="img-responsive" alt="" style="height: 250px;" />
          <h5><a href="services.html">Winners List</a></h5>
          <p>
            The first and only venue so far to host a full sports world cup event in one complex in Sri Lanka. This was the 4th world Indoor Cricket world cup.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- w3l-features-4 -->
<!-- contentwithphoto-11 -->
<section class="w3l-content-with-photo-11">
  <div class="contentwithphoto-11">
    <div class="contentwithphoto-11-content">
      <div class="column contentwithphoto-img">
        <img src="assets/images/grouppic.jpg" class="img-responsive" alt="" style="height: 660px;" />
      </div>
      <div class="column contentwithphoto-text">
        <h3>Why Choose Us</h3>
        <div class="contentwithphoto-text-info">
          <div class="column">
            <h4><a href="services.html">24 hours Availability</a></h4>
            <p>
              Most of the facilities can use 24 hours of the day 365 days of the year under any whether condition
            </p>
          </div>
          <div class="column">
            <h4><a href="services.html">All in one Membership</a></h4>
            <p>
              The Club which offers Sports and leisure, Holiday, F & B, Banquets, Academies & Education all in One Membership
            </p>
          </div>
          <div class="column">
            <h4><a href="services.html">Large variety of facilities</a></h4>
            <p>
              Austasia has more than 20 sports and recreational facilities to serve the requirements of all (Professional /Leisure) Trainer to the whole family 
            </p>
          </div>
          <div class="column">
            <h4><a href="services.html">Best Couches</a></h4>
            <p>
              We are proud to state that our coaches on training sports  are best ranking coaches in the country with many national & international exposure who can handle beginner to professional any age group.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //contentwithphoto-11 -->

<section class="w3l-feature-3">
  <div class="grid top-bottom">
    <div class="wrapper">
      <div class="middle-section grid-column text-center">
        <div class="three-grids-columns">
          <span class="fa fa-futbol-o"></span>
          <h4>Experience</h4>
          <p>
            In May 2001 Austasia indoor cricket stadium was inaugurated with two courts. During a period of 13 months this was extended to a fully fledged sports & leisure complex encompassing a number of other sporting & recreational activities.
          </p>
        </div>
        <div class="three-grids-columns">
          <span class="fa fa-trophy"></span>
          <h4>Awards</h4>
          <p>
            It has grown from an indoor cricket stadium to a life style builder for the members & Others, especially for the youth in the country and now to the Asian region as many visit the country to train and play in different tournaments in different sports from countries like India, Nepal, Pakistan, UAE, Australia, New Zealand, England and South Africa.
          </p>
        </div>
        <div class="three-grids-columns">
          <span class="fa fa-grav"></span>
          <h4>Guidance</h4>
          <p>
            Arguably the best panel of trainers (Bolling academy) are conducting classes from beginner (Toddler), Adults(Learn to Swim) & to professional (Squad) for any age group.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-content-with-photo-16">
  <!-- /w3l-content-with-photo-16 -->
  <div class="w3l-content-with-photo-16-main">
    <div class="wrapper">
      <div class="grid">
        <div class="column">
          <div class="companies-img">
            <img src="assets/images/2.jpg" class="img-responsive" alt="" />
          </div>
        </div>
        <div class="column">
          <div class="w3l-content-with-photo-16-inf">
            <h3>Soccer- Netball- Rugby- Indoor Cricket-
              Bowling machines (for outdoor cricket)- Hockey</h3>
            <p>
              with high-tech Bowling Machines most result oriented qualified coaches who have produced 
              some good cricketing talent to the country are conducting the academy. Our range is introduction 
              to cricket (beginner) to the professional level.
            </p>
            <p>
              All above facilities are available for all (leisure, Professional, trainers) on long or short term basis
              and booking slots available 24 hours of the day 365 days of the year under any weather condition. 
            </p>
            <a href="single.html" class="actionbg btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //w3l-content-with-photo-16 -->

<!-- grids -->
<section class="w3l-grids-1">
  <div class="grids">
    <div class="wrapper">
      <div class="grids-content">
        <div class="column gri-1">
          <a href="events.html"
            ><img src="assets/images/netball.png" class="img-responsive" alt=""
          /></a>
          <h4>
            <a href="events.html"
              >Netball News at Austasia</a
            >
          </h4>
          <p>
            Hyacinth Wijesinghe, National Netball Coach will join hands with Austasia & Action Sports to define a new leaf in the history of Netball for Sri Lanka. Together the team will be working on successfully concluding the Inaugural Indoor Netball Tournament.
          </p>
          <a href="/morenews" class="red">Read More</a>
        </div>
        <div class="column gri-2">
          <a href="events.html"
            ><img src="assets/images/cricketcarnival.jpg" class="img-responsive" alt=""
          /></a>
          <h4>
            <a href="events.html"
              >Cricket Carnival</a
            >
          </h4>
          <p>
            2011 Open Challaenger cup will be held in Sri Lanaka at Austasia International Sports and Leisure Complex 
            between 12th to 17th December all clubs, organisations, countries
          </p>
          <a href="events.html" class="red">Read More</a>
        </div>
        <div class="column gri-3">
          <a href="events.html"
            ><img src="assets/images/swimming.jpg" class="img-responsive" alt=""
          /></a>
          <h4>
            <a href="events.html"
              >Swimming Meet</a
            >
          </h4>
          <p>
            The 26th Swimming Championships was held at the Austasia Swimming Pool Complex 
            on the 5th February 2022. The meet was held only for the two senior age groups: Under 20 and Under 16.
          </p>
          <a href="events.html" class="red">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //grids -->

<!-- companies20 -->
<section class="w3l-companies-20">
  <div class="companies20">
    <div class="wrapper">
      <div class="companies20-content">
        <div class="companies-wrapper">
          <div class="companies-top">
            <div class="companies-lft">
              <a href="services.html"
                ><img
                  src="assets/images/logo-1.jpg"
                  class="img-responsive"
                  alt=""
              /></a>
            </div>
            <div class="companies-lft">
              <a href="services.html"
                ><img
                  src="assets/images/logo-2.jpg"
                  class="img-responsive"
                  alt=""
              /></a>
            </div>
            <div class="companies-lft">
              <a href="services.html"
                ><img
                  src="assets/images/logo-3.jpg"
                  class="img-responsive"
                  alt=""
              /></a>
            </div>
            <div class="companies-lft">
              <a href="services.html"
                ><img
                  src="assets/images/logo-4.jpg"
                  class="img-responsive"
                  alt=""
              /></a>
            </div>
            <div class="companies-lft">
              <a href="services.html"
                ><img
                  src="assets/images/logo-5.jpg"
                  class="img-responsive"
                  alt=""
              /></a>
            </div>
          </div>
          <div class="text">
            <p>
              Entertaining your clients or any other event
 combine with sports & leisure activities of
which only Austasia Sports Complex could
                   offer.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //companies20 -->

<!-- forms -->
<section class="w3l-forms-9">
  <div class="main-w3">
    <div class="wrapper">
      <div class="grids-forms">
        <div class="main-midd">
          <h4 class="title-head">
            Enter your e-mail and subscribe to our newsletter.
          </h4>
          <p>
            Receive the Forpeople newsletter with the most popular content,
            sports updates and fitness guides
          </p>
        </div>
        <div class="main-midd-2">
          <form action="#" method="post" class="rightside-form">
            <input type="email" name="email" placeholder="Enter your email" />
            <button class="btn" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
