<app-header></app-header>
<!-- inner banner -->
<section class="w3l-inner-banner-main">
    <div class="about-inner">
        <div class="wrapper">
            
            <ul class="breadcrumbs-custom-path">
                <h3>Membership</h3>
                <p> The Club which offers Sports and leisure, Holiday,<br/>
					F & B, Banquets, Academies & Education all in One <br/>
					Membership.</p>
            </ul>
        </div>
    </div>
</section>
<!-- //covers -->

<!-- pricing11 -->
<section class="w3l-pricing-11">
	<div class="pricing11">
		<div class="wrapper">
			<div class="pricing11-content">
				<div class="column pricing-grid">
					<div class="rate">
						<h4>Starter</h4>
						<h5> $39.99</h5>
					</div>
					<p>Totally for beginners</p>
				<ul class="points">
						<li><span class="fa fa-check"> </span> Training:Overview</li>
						<li><span class="fa fa-check"> </span> Beginner:Classes</li>
						<li><span class="fa fa-times"> </span> personal: Training</li>
						<li><span class="fa fa-check">Foundation:Training </span> </li>
					</ul>
					<div class="text-center">
							<a href="login.html" class="action">Buy Now </a>
						</div>
				</div>
				<div class="column pricing-grid pricing-grid-active">
					<div class="rate">
						<h4>Premium</h4>
						<h5> $49.99</h5>
					</div>
					<p>This is for intermediate students who knows the sport but need to improve</p>
				
					
					<ul class="points">
						<li><span class="fa fa-check"> </span> Training:Overview</li>
						<li><span class="fa fa-check"> </span> Intermediate:Classes</li>
						<li><span class="fa fa-times"> </span> personal: Training</li>
						<li><span class="fa fa-times">Foundation:Training </span> </li>
						
					</ul>
					<div class="text-center">
							<a href="login.html" class="action">Buy Now </a>
						</div>
				</div>
				<div class="column pricing-grid">
					
					<div class="rate">
						<h4>Professional</h4>
						<h5> $59.99</h5>
					</div>
					<p>Basically This is for the professsional players who are expertise and needed more practice</p>
				
				
					<ul class="points">
						<li><span class="fa fa-check"> </span> Training:Overview</li>
						<li><span class="fa fa-check"> </span>Advancer:Classes</li>
						<li><span class="fa fa-check"> </span> personal: Training</li>
						<li><span class="fa fa-times">Foundation:Training </span> </li>
					
					</ul>
					<div class="text-center">
							<a href="login.html" class="action">Buy Now </a>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //pricing11 -->
<app-footer></app-footer>
