<app-header></app-header>
<!-- Forms23 block -->
<section class="w3l-forms-23">
    <div id="forms23-block">
        <div class="wrapper">
            <div class="d-grid forms23-grids">
                <div class="form23">
                    <h6>Create Account</h6>
                     <ul class="log-head">
                            <li><a class="href" href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a class="href" href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a class="href" href="#"><span class="fa fa-twitter"></span></a></li>
                            </ul>
                            <p>or use your email account</p>
                    <form action="" method="GET">
                        <input type="text" name="username" placeholder="Name" required="required" />
                        <input type="email" name="username" placeholder="Email" required="required" />
                        <input type="password" name="password" placeholder="Password" required="required" />
                       
                        <button type="submit">Sign Up</button>
                    </form>
                  
                    
                </div>
                <div class="frm-tp">
                <div class="form23-text">
                 
                    <h3>Welcome Back</h3>
                    <p>To keep connected with us please login with your personal info</p>
                    <a href="/login" class="actionbg btn">Sign In</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Forms23 block -->
<app-footer></app-footer>
